* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  font-family: "Epilogue", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.header {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 1.6rem;
  color: #696969;
}

.nav {
  display: flex;
  width: 377px;
  height: 21px;
  align-items: center;
  gap: 2.3rem;
  list-style-type: none;
}

#nav {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-top: 48px;
  width: 100%;
  height: 132px;
  gap: 1rem;
  list-style-type: none;
}

.features,
.company {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.toggle__1 {
  position: absolute;
  top: 4rem;
  width: 133px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  z-index: 1;
}

.toggle__1 li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#features,
#company {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#toggle__1 {
  position: absolute;
  top: 5.5rem;
  width: 133px;
  height: 148px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  z-index: 1;
}

#toggle__1 li {
  display: flex;
  gap: 1rem;
  align-items: center;
}

li {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav-items {
  width: 1210px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign__options {
  width: 184px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 41%);
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.login:hover {
  color: black;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  height: 40px;
  border: 2px solid hsl(0, 0%, 8%);
  transition: all ease-in-out 0.3s;
  background-color: transparent;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  padding: 0.5rem 1.35rem;
  border-radius: 15px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.register:hover {
  border-color: hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
}

.features:hover {
  color: black;
}

.company:hover {
  color: black;
}

.toggle__1 li:hover {
  cursor: pointer;
  color: black;
}

.toggle__2 li:hover {
  cursor: pointer;
  color: black;
}

ul li:hover {
  color: black;
}

.toggle__2 {
  width: 100px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  padding: 1rem;
  top: 4rem;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  z-index: 1;
}

#toggle__2 {
  width: 100px;
  height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  padding: 1rem;
  top: 7rem;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  z-index: 1;
}

.hamburgers {
  position: absolute;
  top: -25px;
  right: -5px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-top: 29px;
  z-index: 9999;
}
.hamburgers:hover {
  cursor: pointer;
}
.burger__1:nth-child(1) {
  width: 40px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #000;
}
.burger__1:nth-child(3) {
  width: 40px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #000;
}

#b2 {
  width: 40px;
  height: 4px;
  border: 1px solid #000;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #000;
}

.nav-menu {
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  max-width: 633px;
  width: 100%;
  height: 598px;
  position: fixed;
  padding: 1rem;
  background-color: white;
  height: 100%;
  right: 0;
  top: 0;
  gap: 2rem;
}

.sign__options {
  width: 184px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

#sign__options {
  width: 161px;
  height: 78px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

/* -------------------main-starts----------------- */

.main {
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 532px;
  height: 100%;
}

.main__text {
  margin-top: 104px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3.1rem;
}

.main-img {
  background-image: url("../images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 480px;
  height: 640px;
}

.main__text p {
  color: hsl(0, 0%, 41%);
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.7rem;
  width: 90%;
}

.main__text a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: hsl(0, 0%, 8%);
  padding: 0.9rem 1.9rem;
  color: rgba(250, 250, 250, 255);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 3.5px;
  transition: all ease-in-out 0.3s;
  height: 56px;
}

.main__text h1 {
  font-size: 72px;
  font-weight: bold;
}

.main__imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------main-ends------------------- */

/* ------------media-starts-------------- */

@media only screen and (max-width: 1100px) {
  .nav-items {
    display: none;
  }
  .hamburgers {
    display: flex;
  }
  .container {
    max-width: 1100px;
    width: 100%;
  }
  .main {
    width: 100%;
    min-height: 1300px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .main-info {
    width: 100%;
    height: 50%;
    justify-content: center;
    gap: 100px;
  }
  .main__text {
    align-items: center;
  }
  .main__text h1 {
    text-align: center;
    font-size: 48px;
  }
  .main__text p {
    text-align: center;
    font-size: 17px;
  }
  .main-img {
    width: 100%;
    background-image: url("../images/image-hero-mobile.png");
    background-size: cover;
  }
}

@media only screen and (min-width: 1100px) {
  .nav-menu {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  body {
    padding: 5px;
  }
  .hamburgers {
    right: -50px;
  }
  .main {
    max-width: 500px;
    width: 100%;
  }
  .main-img {
    width: 100%;
  }

  .main-info {
    width: 100%;
  }
}

/* --------------media-ends------------ */
